<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fouo.coupon.mapper.CouponSpuCategoryRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="couponSpuCategoryRelationResultMap" type="com.fouo.coupon.entity.CouponSpuCategoryRelation">
        <id column="id" property="id"/>
        <result column="coupon_id" property="couponId"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
    </resultMap>


    <select id="selectCouponSpuCategoryRelationPage" resultMap="couponSpuCategoryRelationResultMap">
        select * from sms_coupon_spu_category_relation where is_deleted = 0
    </select>

</mapper>
