<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fouo.coupon.mapper.SkuBoundsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="skuBoundsResultMap" type="com.fouo.coupon.entity.SkuBounds">
        <id column="id" property="id"/>
        <result column="sku_id" property="skuId"/>
        <result column="grow_bounds" property="growBounds"/>
        <result column="buy_bounds" property="buyBounds"/>
        <result column="work" property="work"/>
    </resultMap>


    <select id="selectSkuBoundsPage" resultMap="skuBoundsResultMap">
        select * from sms_sku_bounds where is_deleted = 0
    </select>

</mapper>
